## ide
/.idea/
**/.idea
*.iml
rebel.xml
/blog-manage/src/main/resources/application-pro.yml
/blog-portal/src/main/resources/application-pro.yml

## backend
/target/
**/target
**/logs

## front
**/*.lock
/config/personal/
